h2{
    font-weight: bold;
}
img{
    border: 10px solid  rgb(95, 202, 140);
    border-radius: 50%;
    position: relative;
    left: 1250px;
    z-index: 0;
    bottom: 80px;

}
.title{
    border: 10px solid black;
    border-radius: 25px;
    height: 75px;
    width: 250px;
    text-align: center;
    background-color:  rgb(95, 202, 140);
}
html{
    background-color: antiquewhite;
}
h1{
    height: 100px;
    width: 250px;
    background-color: rgb(95, 202, 140);
    border: 10px solid black;
    border-radius: 25px;
    text-align: center;
    padding-top: 50px;
    
}